<app-navbar-administrador></app-navbar-administrador>
<body>
  <div class="container">
    <h1>Mi perfil de administrador</h1>
    <div class="mat-elevation-z4" style="background-color: white">
      <div class="information">
        <img
          src="./../../../assets/usuario-de-perfil.svg"
          style="margin: 1cm; margin-left: 1cm"
          height="125px"
          alt=""
        />
        <h3>Mi información personal</h3>
        <hr style="border-color: gold; width: 60%; margin-left: 1cm" />
        <h4>
          <li type="disc">Usuario: {{ id }}</li>
        </h4>
        <h4>
          <li type="disc">Nombre: {{ user }}</li>
        </h4>
        <h4>
          <li type="disc">Apellido: {{ apellido }}​​</li>
        </h4>
        <h4>
          <li type="disc">Correo: {{ correo }}​​</li>
        </h4>
        <h3>Opciones</h3>

        <hr style="border-color: gold; width: 60%; margin-left: 1cm" />
        <div>
          <button
            mat-raised-button
            class="btn mat-raised-button"
            style="background-color: #f7ae42; color: white; margin-left: 3%"
            (click)="recuperarPassword()"
          >
            Cambiar Contraseña
          </button>
          </div>
        </div>
      </div>
    </div>
</body>
