<!-- navbar -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="portalventas">
    <img
      src="https://cdn0.iconfinder.com/data/icons/simpline-mix/64/simpline_41-256.png"
      width="40"
      height="40"
      class="d-inline-block align-mid"
      alt=""
      loading="lazy"
    />
    SDI / Ventas
  </a>
  <div>
    <div class="text-left">
      <a href="">
        <button class="btn btn-outline-warning" style="margin-left: 1em">
          Cerrar Sesión
        </button>
      </a>
    </div>
  </div>
</nav>

<div style="padding-top: 50px; margin-top: 0px">
  <h1 style="text-align: center; color: black">
    Bienvenido al portal de ventas
  </h1>

  <p
    style="
      text-align: center;
      padding-top: 40px;
      font-size: larger;
      color: black;
    "
  >
    Seleccione su proceso:
  </p>
</div>
<mat-grid-list cols="2" style="width: 50%; margin: auto">
  <mat-grid-tile>
    <button
      class="example-card mat-elevation-z4"
      style="margin: 20px; padding: 0%; border: 0ch; cursor: pointer"
      (click)="ventas()"
    >
      <mat-card>
        <mat-card-title>
          <p style="font-size: larger; text-align: center">Ventas</p>
        </mat-card-title>
        <img mat-card-image src="./assets/ventas2.png" />
      </mat-card>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button
      class="example-card mat-elevation-z4"
      style="margin: 20px; padding: 0%; border: 0ch; cursor: pointer"
      (click)="stock()"
    >
      <mat-card>
        <mat-card-title>
          <p style="font-size: larger; text-align: center">Stock</p>
        </mat-card-title>
        <img mat-card-image src="./assets/stock2.png" />
      </mat-card>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
