<!-- navbar -->
<app-navbar-vendedor></app-navbar-vendedor>

<div style="padding-top: 0px; margin-top: 0px">
  <h1 style="text-align: center; color: black; font-family: 'Bebas Neue', cursive; font-size: 40px; background-color:#F9DB49; padding: 40px;" >
    Bienvenido al portal de ventas
  </h1>
  <br />
  <br />
</div>
<div class="container">
  <div class="row">
    <!--Carta de Ventas-->
    <div class="col" style="margin-left: 4cm;">
      <button
        class="mat-elevation-z4"
        style="padding: 0%; border: 0ch"
        (click)="ventas()"
      >
        <div class="card" style="width: 18rem; padding-top: 2rem;">
          <img
            src="https://www.flaticon.es/svg/static/icons/svg/1069/1069102.svg"
            height="150"
            width="150"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div style="text-align: center">
              <h3><b>Ventas</b></h3>
            </div>
          </div>
        </div>
      </button>
    </div>
    <!--Carta de stock-->
    <div class="col">
      <button
        class="mat-elevation-z4"
        style="border: 0ch; padding: 0%"
        (click)="stock()"
      >
        <div class="card" style="width: 18rem; padding-top: 2rem">
          <img
            src="https://www.flaticon.es/svg/static/icons/svg/2125/2125352.svg"
            height="150"
            width="150"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div style="text-align: center">
              <h3><b>Stock</b></h3>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>