<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="administrador">
    <img
      src="https://cdn1.iconfinder.com/data/icons/e-commerce-retro-pack-vol-1/115/inventory_management-256.png"
      width="40"
      height="40"
      class="d-inline-block align-mid"
      alt=""
      loading="lazy"
    />
    SDI / Administrador
  </a>

  <div>
    <div class="text-left">
      <a href="login-admin">
        <button class="btn btn-outline-warning" style="margin-left: 1em">
          Cerrar Sesión
        </button>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <!--Carta de Productos-->
    <div class="col">
      <button
        class="mat-elevation-z4"
        style="padding: 0%; border: 0ch"
        (click)="productos()"
      >
        <div class="card" style="width: 18rem; padding-top: 2rem">
          <img
            src="https://image.flaticon.com/icons/svg/1414/1414029.svg"
            height="150"
            width="150"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div style="text-align: center">
              <h3><b>Productos</b></h3>
            </div>
          </div>
        </div>
      </button>
    </div>
    <!--Carta de Administradores-->
    <div class="col">
      <button
        class="mat-elevation-z4"
        style="border: 0ch; padding: 0%"
        (click)="administradores()"
      >
        <div class="card" style="width: 18rem; padding-top: 2rem">
          <img
            src="https://image.flaticon.com/icons/svg/1414/1414024.svg"
            height="150"
            width="150"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div style="text-align: center">
              <h3><b>Administradores</b></h3>
            </div>
          </div>
        </div>
      </button>
    </div>

    <!--Carta de vendedores-->
    <div class="col">
      <button
        class="mat-elevation-z4"
        style="border: 0ch; padding: 0%"
        (click)="vendedores()"
      >
        <div class="card" style="width: 18rem; padding-top: 2rem">
          <img
            src="https://image.flaticon.com/icons/svg/1414/1414008.svg"
            height="150"
            width="150"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <div style="text-align: center">
              <h3><b>Vendedores</b></h3>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
