<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="https://cdn1.iconfinder.com/data/icons/e-commerce-retro-pack-vol-1/115/inventory_management-256.png"
            width="40" height="40" class="d-inline-block align-mid" alt="" loading="lazy">
        SDI / Administrador
    </a>
</nav>

<div class="container">
    <div class="row align-items-center">
        <!--Carta de Productos-->
        <div class="col">
            <div class="card mat-elevation-z4" style="width: 18rem; padding-top: 2rem;">
                <img src="https://image.flaticon.com/icons/svg/1414/1414029.svg" height="150" width="150"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-warning">Productos</a>
                </div>
            </div>
        </div>
        <!--Carta de Administradores-->
        <div class="col">
            <div class="card mat-elevation-z4" style="width: 18rem; padding-top: 2rem;">
                <img src="https://image.flaticon.com/icons/svg/1414/1414024.svg" height="150" width="150"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-warning">Administradores</a>
                </div>
            </div>
        </div>
        <!--Carta de vendedores-->
        <div class="col">
            <div class="card mat-elevation-z4" style="width: 18rem; padding-top: 2rem;">
                <img src="https://image.flaticon.com/icons/svg/1414/1414008.svg" height="150" width="150"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-warning" style="margin-top: 0em;">Vendedores</a>
                </div>
            </div>
        </div>
    </div>

    <!--Barra de busqueda-->

    <div class="row">

    </div>
