<!--NAVBAR DE ADMINISTRADOR-->
<nav class="navbar navbar-dark bg-dark mat-elevation-z4">
  <div style="justify-items: left; color: white">
    <a mat-button href="administrador" class="boton">
      <img src="./../../../assets/SDI.png" height="60" width="60" />
    </a>
    <a class="boton" mat-button href="vendedores">Vendedores</a>
    <a class="boton" mat-button href="productos">Productos</a>
    <a class="boton" mat-button href="administradores">Administradores</a>
  </div>
  <div>
    <div class="text-left">
      <a href="stock">
        <button class="btn btn-outline-warning" style="margin-left: 1em">
          Cerrar Sesión
        </button>
      </a>
    </div>
  </div>
</nav>
