<!--NAVBAR-->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="administrador">
    <img
      src="https://cdn1.iconfinder.com/data/icons/e-commerce-retro-pack-vol-1/115/inventory_management-256.png"
      width="40"
      height="40"
      class="d-inline-block align-mid"
      alt=""
      loading="lazy"
    />
    /
    <img
      src="https://image.flaticon.com/icons/svg/1414/1414008.svg"
      width="40"
      height="40"
      class="d-inline-block align-mid"
      alt=""
      loading="lazy"
    />
    Vendedores
  </a>

  <div>
    <div class="text-left">
      <a href="administradores">
        <button class="btn btn-outline-warning" style="margin-left: 1em">
          Administradores
        </button></a
      >
      <a href="productos">
        <button class="btn btn-outline-warning" style="margin-left: 1em">
          Productos
        </button>
      </a>
    </div>
  </div>
</nav>
<!--FIN DEL NAVBAR-->

<!--BOTON DE AGREGAR-->
<div
  class="container"
  style="text-align: begin; margin: auto; padding-right: 18%; padding-top: 1em"
>
  <button
    class="btn btn-outline-warning mat-elevation-z8"
    style="background-color: #1c9d43; color: white"
    href="#AGREGAR"
    data-toggle="modal"
    mat-mini-fab
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<!--FIN DEL BOTON DE AGREGAR-->

<!--TABLA-->
<div
  style="width: 70%; margin: 1em auto; text-align: center"
  class="mat-elevation-z12"
>
  <mat-table [dataSource]="estudiantes">
    <ng-container matColumnDef="rut">
      <mat-header-cell *matHeaderCellDef> RUT </mat-header-cell>
      <mat-cell *matCellDef="let estudiante"> {{ estudiante.rut }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let estudiante">
        {{ estudiante.nombre }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let estudiante">
        {{ estudiante.apellido }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef> Correo Electrónico </mat-header-cell>
      <mat-cell *matCellDef="let estudiante">
        {{ estudiante.correo }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <mat-header-cell style="justify-content: center" *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell
        style="justify-content: center"
        *matCellDef="let estudiante; index as i"
      >
        <button
          mat-mini-fab
          style="background-color: #d8473e"
          (click)="eliminar(i)"
          data-toggle="modal"
          mat-mini-fab
          href="#BORRAR"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          style="
            background-color: #f7ae42;
            color: white;
            margin-left: 1em;
            padding-left: 0%;
          "
          z(click)="modificar(i)"
          data-toggle="modal"
          mat-mini-fab
          href="#EDITAR"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnasAMostrar"></mat-row>
  </mat-table>
</div>
<!--FIN DE LA TABLA-->

<!--MODAL AGREGAR-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="AGREGAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Add-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Agregar vendedor
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->
          <div class="modal-body">
            <form class="text-left p-3">
              <div class="form-group">
                <label class="" for="rut">RUT:</label>
                <input class="form-control" type="text" name="rut" id="rut" />
              </div>
              <div class="form-group">
                <label class="" for="nombres">Nombres</label>
                <input
                  class="form-control"
                  type="text"
                  name="nombres"
                  id="nombres"
                />
              </div>
              <div class="form-group">
                <label class="" for="apellidos"> Apellidos </label>
                <input
                  class="form-control"
                  type="text"
                  name="apellidos"
                  id="apellidos"
                />
              </div>
              <div class="form-group">
                <label class="" for="correo">Email</label>
                <input
                  class="form-control"
                  type="email"
                  name="correo"
                  id="correo"
                />
              </div>
            </form>
          </div>
          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #1c9d43; color: aliceblue"
              type="reset"
              data-dismiss="modal"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

<!--MODAL EDITAR-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="EDITAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Pen-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Editar vendedor
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->
          <div class="modal-body">
            <form class="text-left p-3">
              <div class="form-group">
                <label class="" for="rut">RUT:</label>
                <input class="form-control" type="text" name="rut" id="rut" />
              </div>
              <div class="form-group">
                <label class="" for="nombres">Nombres</label>
                <input
                  class="form-control"
                  type="text"
                  name="nombres"
                  id="nombres"
                />
              </div>
              <div class="form-group">
                <label class="" for="apellidos"> Apellidos </label>
                <input
                  class="form-control"
                  type="text"
                  name="apellidos"
                  id="apellidos"
                />
              </div>
              <div class="form-group">
                <label class="" for="correo">Email</label>
                <input
                  class="form-control"
                  type="email"
                  name="correo"
                  id="correo"
                />
              </div>
            </form>
          </div>
          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #f7ae42; color: aliceblue"
              type="reset"
              data-dismiss="modal"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

<!--MODAL BORRAR-->
<div class="text-right mt-4">
  <div class="modal fade" id="BORRAR">
    <div class="modal-dialog text-center">
      <div class="modal-content">
        <div class="modal-header">
          <div
            class="modal-title"
            style="padding: 1em 1em 0em 1em; width: 100%"
          >
            <h2 style="text-align: center">
              ¿Está seguro de que quiere borrar este vendedor?
            </h2>
          </div>

          <div style="text-align: center">
            <div style="padding: 1em 1em 1em 1em; width: 100%">
              <button
                class="btn BtnDefault"
                style="background-color: #d8473e; color: aliceblue; width: 89px"
                type="reset"
                data-dismiss="modal"
              >
                Borrar
              </button>
            </div>
            <div>
              <button
                class="btn BtnDefault"
                style="background-color: #f7ae42; color: aliceblue"
                type="reset"
                data-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL BORRAR-->
