<!-- navbar -->
<app-navbar-vendedor></app-navbar-vendedor>
<!--FIN DEL NAVBAR-->
<div class="container-fluid">
  <div class="row">
    <div class="col-5 container">
      <div>
        <div>
          <input
            class="busqueda"
            (keyup)="applyFilter($event)"
            placeholder="Buscar productos"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Buscar productos'"
            #input
          />
          <mat-icon class="lupa">search</mat-icon>
        </div>
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let producto">{{ producto.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let producto">{{ producto.nombre }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let producto">
              {{ producto.precio | currency }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef>Stock</th>
            <td mat-cell *matCellDef="let producto">{{ producto.stock }}</td>
          </ng-container>

          <ng-container matColumnDef="agregar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element; index as i">
              <button href="#AGREGAR" mat-icon-button class="boton-agregar">
                <mat-icon>add</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnasBusqueda"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasBusqueda"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              Ningún producto con este nombre: "{{ input.value }}"
            </td>
          </tr>
        </table>
        <div>
          <mat-paginator [pageSizeOptions]="[10]">Productos</mat-paginator>
        </div>
      </div>
    </div>

    <!--Simulacion de la factura-->
    <div class="factura col-sm">
      <!--ENCABEZADO-->
      <div class="encabezado row">
        <div class="col-2" style="padding-top: 0">
          <img src="./../../../assets/logopng.png" width="120 " height="120" />
        </div>
        <div class="col-7">
          <h3>SDI-GROUP</h3>
          <p style="width: 100%">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            reiciendis minima voluptates labore, excepturi doloribus, explicabo
            vitae
          </p>
        </div>
        <div class="col-3">
          <h2 style="text-align: center">FACTURA N°</h2>
          <button style="width: 100%" mat-flat-button disabled>00001</button>
        </div>
      </div>
      <!--CUERPO-->
      <div class="cuerpo"></div>
      <!--PIE DE FACTURA-->
      <div class="row" style="padding-top: 1em">
        <div class="col-7">
          <mat-form-field appearance="fill">
            <mat-label>Formas de pago:</mat-label>
            <select matNativeControl required>
              <option value="efectivo">Efectivo</option>
              <option value="debito">Débito</option>
              <option value="credito">Crédito</option>
              <option value="otros">Otros</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-5">
          <button
            style="width: 100%; padding: 8px; margin: 0%"
            mat-stroked-button
            color="warn"
            class="pagar"
          >
            GENERAR VENTA
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODAL AGREGAR PRODUCTOS A LA FACTURA-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="AGREGAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog modal-lg text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Add-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Agregar Producto
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->
          <div class="modal-body">
            <form class="text-left p-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label for="id">ID:</label>
                    <input class="form-control" type="text" name="id" id="id" />
                  </div>
                  <div class="form-group col-sm">
                    <label for="marca"> Marca </label>
                    <input
                      class="form-control"
                      type="text"
                      name="marca"
                      id="marca"
                    />
                  </div>
                </div>
              </div>

              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="nombre">Nombre</label>
                    <input
                      class="form-control"
                      type="text"
                      name="nombres"
                      id="nombres"
                    />
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group">
                      <label class="" for="stock">Stock inicial</label>
                      <input
                        class="form-control"
                        type="text"
                        name="stock"
                        id="stock"
                      />
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <label class="" for="precio">Precio</label>
                      <input
                        class="form-control"
                        type="text"
                        name="precio"
                        id="precio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="categoria">Categoría</label>
                    <div class="input-group-prepend">
                      <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                      >
                        <option>Telefonía</option>
                        <option>Computación</option>
                        <option>Tablets</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #1c9d43; color: aliceblue"
              type="reset"
              data-dismiss="modal"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FINAL DEL MODAL AGREGAR PRODUCTOS A LA FACTURA-->
