table {
  width: 100%;
}
/* Sección busqueda */
.busqueda {
  margin-top: 1px;
  width: 97%;
  border: none;
  outline: none;
  padding: 1em;
  border-bottom: 1px #343a40 solid;
  box-shadow: none;
  background: none;
}
.lupa {
  position: absolute;
  top: 3%;
  right: 25px;
}
.mat-column-agregar {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-boton {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.botones-editar {
  padding: 0%;
  margin: 0 0 0 0;
  min-width: 5px;
  line-height: 5px;
  margin-left: 5px;
}
.boton-editar {
  justify-content: right;
  justify-self: end;
  align-self: flex-end;
}
/* Seccion factura */
.factura.col-sm {
  height: 500px;
  margin-left: 2em;
  padding: 1em;
  padding-left: 2em;
  border-left: none;
  border-left-color: #343a40;
}
.input-editar {
  border: #343a40;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  outline-width: 5ch;
  width: 40%;
  text-align: center;
}

.encabezado.row {
  padding-top: 2em;
}

.cuerpo {
  height: 350px;
}

tr.mat-footer-row {
  font-weight: bold;
}
.pagar {
  background-color: #343a40;
  color: white;
}
.pagar:hover {
  background-color: #1c9d43;
  color: white;
}
