<!-- navbar -->
<app-navbar-administrador></app-navbar-administrador>

<!--Etiqueta de Productos-->
<div class="row" style="background-color: rgb(190, 205, 238)">
  <div class="col">
    <h1>
      Productos SDI
      <img
        src="https://www.flaticon.es/svg/static/icons/svg/644/644458.svg"
        height="30px"
        alt=""
      />
      <img
        src="https://www.flaticon.es/svg/static/icons/svg/644/644422.svg"
        height="30px"
        alt=""
      />
    </h1>
  </div>
</div>

<!--Boton de agregar-->
<div class="container">
  <div
    class="container"
    style="
      text-align: begin;
      margin: auto;
      padding-right: 18%;
      padding-top: 1em;
    "
  >
    <button
      mat-raised-button
      matTooltip="Agregar un nuevo producto"
      matTooltipPosition="right"
      class="btn btn-outline-warning mat-elevation-z8"
      style="background-color: #1c9d43; color: white"
      href="#AGREGAR"
      data-toggle="modal"
      mat-mini-fab
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <!--Barra de busqueda-->
  <br />
  <div>
    <div class="row">
      <div id="busqueda">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select class="form-control" [(ngModel)]="filtro">
              <option value="nombre">Nombre</option>
              <option value="marca">Marca</option>
            </select>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
            placeholder="Busqueda"
            [(ngModel)]="busqueda"
            (keyup)="onKey($event)"
          />
          <span class="input-group-text" style="border: 0ch; margin: 0%">
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-search"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
              />
              <path
                fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  style="width: 70%; margin: 1em auto; text-align: center"
  class="mat-elevation-z12"
>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let productos"> {{ productos.id }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.nombre }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="marca">
      <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.marca }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.precio | currency: "CLP":"symbol-narrow" }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stock">
      <mat-header-cell mat-header-cell *matHeaderCellDef>stock</mat-header-cell>
      <mat-cell *matCellDef="let producto">
        <div *ngIf="producto.stock > producto.minimo; else elseBlock">
          {{ producto.stock }}
        </div>
        <ng-template #elseBlock>
          <span style="color: #d8473e">
            <b>{{ producto.stock }} </b>
          </span>
        </ng-template>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="categoria">
      <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.categoria }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <mat-header-cell style="justify-content: center" *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell
        style="justify-content: center"
        *matCellDef="let productos; index as i"
      >
        <button
          mat-raised-button
          matTooltip="Eliminar este producto"
          matTooltipPosition="above"
          mat-mini-fab
          style="background-color: #d8473e"
          data-toggle="modal"
          mat-mini-fab
          (click)="guardar(i)"
          href="#BORRAR"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          mat-raised-button
          matTooltip="Modificar este producto"
          matTooltipPosition="above"
          style="
            background-color: #f7ae42;
            color: white;
            margin-left: 1em;
            padding-left: 0%;
          "
          data-toggle="modal"
          mat-mini-fab
          href="#EDITAR"
          (click)="editarProducto(i)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-raised-button
          matTooltip="Aumentar stock"
          matTooltipPosition="above"
          mat-mini-fab
          style="
            background-color: #1c9d43;
            color: white;
            margin-left: 1em;
            padding-left: 0%;
          "
          data-toggle="modal"
          mat-mini-fab
          (click)="aumentarStock(i)"
          href="#AUMENTAR"
        >
          <mat-icon>library_add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnasAMostrar"></mat-row>
  </mat-table>
</div>

<!--MODAL AGREGAR-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="AGREGAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog modal-lg text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Add-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Agregar Producto
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->
          <div class="modal-body">
            <form class="text-left p-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-12">
                    <label for="marca"> Marca </label>
                    <input
                      class="form-control"
                      type="text"
                      name="marca"
                      [(ngModel)]="productos.marca"
                    />
                  </div>
                </div>
              </div>

              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="nombre">Nombre</label>
                    <input
                      class="form-control"
                      type="text"
                      name="nombres"
                      [(ngModel)]="productos.nombre"
                    />
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm">
                    <div class="form-group">
                      <label class="" for="stock">Stock inicial</label>
                      <input
                        class="form-control"
                        type="text"
                        name="stock"
                        [(ngModel)]="productos.stock"
                      />
                    </div>
                  </div>
                  <div class="col-sm">
                    <div class="form-group">
                      <label class="" for="precio">Precio</label>
                      <input
                        class="form-control"
                        type="text"
                        name="precio"
                        [(ngModel)]="productos.precio"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="categoria">Categoría</label>

                    <div class="input-group-prepend">
                      <select
                        class="form-control"
                        name="categoria"
                        [(ngModel)]="productos.categoria"
                      >
                        <option value="Telefonía">Telefonía</option>
                        <option value="Computación">Computación</option>
                        <option value="Tablets">Tablets</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #1c9d43; color: aliceblue"
              type="reset"
              data-dismiss="modal"
              (click)="agregarProducto()"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

<!--MODAL EDITAR-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="EDITAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Pen-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Editar productos
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->
          <div class="modal-body">
            <form class="text-left p-3">
              <div class="form-group">
                <label for="id">ID:</label>
                <input
                  class="form-control"
                  disabled
                  type="text"
                  name="id"
                  [(ngModel)]="cambios.id"
                />
              </div>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  class="form-control"
                  type="text"
                  name="nombres"
                  [(ngModel)]="cambios.nombre"
                />
              </div>
              <div class="form-group">
                <label class="" for="marca"> Marca </label>
                <input
                  class="form-control"
                  type="text"
                  name="marca"
                  [(ngModel)]="cambios.marca"
                />
              </div>
              <div class="form-group">
                <label class="" for="precio">Precio</label>
                <input
                  class="form-control"
                  type="text"
                  name="precio"
                  [(ngModel)]="cambios.precio"
                />
              </div>
              <div class="form-group">
                <label class="" for="categoria">Categoría</label>
                <div class="input-group-prepend">
                  <select class="form-control">
                    <option>Telefonía</option>
                    <option>Computación</option>
                    <option>Tablets</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #f7ae42; color: aliceblue"
              type="reset"
              data-dismiss="modal"
              (click)="confirmarCambio()"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

<!--MODAL DE BORRAR-->
<div class="text-right mt-4">
  <div class="modal fade" id="BORRAR">
    <div class="modal-dialog text-center">
      <div class="modal-content">
        <div class="modal-header">
          <div
            class="modal-title"
            style="padding: 1em 1em 0em 1em; width: 100%"
          >
            <h2 style="text-align: center">
              ¿Está seguro de que quiere borrar este producto?
            </h2>
          </div>

          <div style="text-align: center">
            <div style="padding: 1em 1em 1em 1em; width: 100%">
              <button
                class="btn BtnDefault"
                style="background-color: #d8473e; color: aliceblue; width: 89px"
                type="reset"
                data-dismiss="modal"
                (click)="eliminarProducto(index)"
              >
                Borrar
              </button>
            </div>
            <div>
              <button
                class="btn BtnDefault"
                style="background-color: #f7ae42; color: aliceblue"
                type="reset"
                data-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL BORRAR-->
<!--INICIO MODAL AGREGAR AL STOCK-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="AUMENTAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog modal-lg text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Add-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Agregar al stock de {{ nombre }}
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->
          <div class="modal-body">
            <form class="text-left p-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label for="stockActual">Stock:</label>
                    <input
                      class="form-control"
                      disabled
                      type="text"
                      name="stockActual"
                      [(ngModel)]="stockActual"
                    />
                  </div>
                  <div class="form-group col-sm">
                    <label>Ingreso:</label>
                    <input
                      class="form-control"
                      type="text"
                      name="ingreso"
                      [(ngModel)]="ingreso"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #1c9d43; color: aliceblue"
              type="reset"
              data-dismiss="modal"
              (click)="confirmarAumentoDeStock()"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL-->
