<!-- navbar -->
<app-navbar-administrador></app-navbar-administrador>
<!--FIN DEL NAVBAR-->

<!--BOTON DE AGREGAR-->
<div
  class="container"
  style="text-align: begin; margin: auto; padding-right: 18%; padding-top: 1em"
>
  <button
    mat-raised-button
    matTooltip="Agregar un Administrador nuevo"
    matTooltipPosition="right"
    class="btn btn-outline-warning mat-elevation-z8"
    type="reset"
    style="background-color: #1c9d43; color: white"
    href="#AGREGAR"
    data-toggle="modal"
    mat-mini-fab
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
<!--FIN DEL BOTON DE AGREGAR-->

<!--TABLA-->
<div
  style="width: 70%; margin: 1em auto; text-align: center"
  class="mat-elevation-z12"
>
  <mat-table [dataSource]="administradores">
    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let administradores">
         {{ administradores.usuario }}
         </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let administradores">
        {{ administradores.nombre }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="apellido">
      <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
      <mat-cell *matCellDef="let administradores">
        {{ administradores.apellido }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef> Correo Electrónico </mat-header-cell>
      <mat-cell *matCellDef="let administradores">
        {{ administradores.correo }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <mat-header-cell style="justify-content: center" *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell
        style="justify-content: center"
        *matCellDef="let administradores; index as i"
      >
        <button
          mat-raised-button
          matTooltip="Eliminar este administrador"
          matTooltipPosition="above"
          mat-mini-fab
          style="background-color: #d8473e"
          data-toggle="modal"
          mat-mini-fab
          (click)="guardar(i)"
          href="#BORRAR"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          mat-raised-button
          matTooltip="Modificar este administrador"
          matTooltipPosition="above"
          style="
            background-color: #f7ae42;
            color: white;
            margin-left: 1em;
            padding-left: 0%;
          "
          data-toggle="modal"
          mat-mini-fab
          href="#EDITAR"
          (click)="editarAdmin(i)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnasAMostrar"></mat-row>
  </mat-table>
</div>
<!--FIN DE LA TABLA-->

<!--MODAL AGREGAR-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="AGREGAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Add-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Agregar Administrador
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->

          <div class="modal-body">
            <form class="text-left p-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label for="usuario">Usuario:</label>
                    <input
                      class="form-control"
                      type="text"
                      name="usuario"
                      [(ngModel)]="administrador.usuario"
                    />
                  </div>
                  <div class="form-group col-sm">
                    <label for="contrasenha"> Contraseña </label>
                    <input
                      class="form-control"
                      type="password"
                      name="contrasenha"
                      [(ngModel)]="administrador.contrasenha"
                    />
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="nombre">Nombres</label>
                    <input
                      class="form-control"
                      type="text"
                      name="nombre"
                      [(ngModel)]="administrador.nombre"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="apellido"> Apellidos </label>
                    <input
                      class="form-control"
                      type="text"
                      name="apellido"
                      [(ngModel)]="administrador.apellido"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="correo">Email</label>
                    <input
                      class="form-control"
                      type="email"
                      name="correo"
                      [(ngModel)]="administrador.correo"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #1c9d43; color: aliceblue"
              type="reset"
              data-dismiss="modal"
              (click)="agregarAdministrador()"
            >
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL-->

<!--MODAL EDITAR-->
<div class="text-right mt-4">
  <div>
    <div
      class="modal fade"
      id="EDITAR"
      style="margin-top: 40px; margin-bottom: 30px"
    >
      <div class="modal-dialog text-center">
        <div class="modal-content">
          <!--encabezado del modal-->
          <div class="modal-header">
            <div
              class="modal-title"
              style="padding: 3em 0em 0em 1em; width: 100%"
            >
              <h2 style="text-align: left">
                <img
                  src="https://cdn2.iconfinder.com/data/icons/bitsies/128/Pen-256.png"
                  height="30"
                  width="30"
                  style="margin-right: 3px"
                />
                Editar Administrador
              </h2>
            </div>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <!--cuerpo del modal-->
          <div class="modal-body">
            <form class="text-left p-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label for="usuario">Usuario:</label>
                    <input
                      class="form-control"
                      type="text"
                      name="usuario"
                      [(ngModel)]="cambios.usuario"
                    />
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="nombre">Nombres</label>
                    <input
                      class="form-control"
                      type="text"
                      name="nombre"
                      [(ngModel)]="cambios.nombre"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="apellido"> Apellidos </label>
                    <input
                      class="form-control"
                      type="text"
                      name="apellido"
                      [(ngModel)]="cambios.apellido"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm">
                    <label class="" for="correo">Email</label>
                    <input
                      class="form-control"
                      type="email"
                      name="correo"
                      [(ngModel)]="cambios.correo"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>

          <!--footer-->
          <div class="modal-footer">
            <button
              class="btn BtnDefault"
              style="background-color: #f7ae42; color: aliceblue"
              type="reset"
              data-dismiss="modal"
              (click)="confirmarCambio()"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL-->





<!--MODAL BORRAR-->
<div class="text-right mt-4">
  <div class="modal fade" id="BORRAR">
    <div class="modal-dialog text-center">
      <div class="modal-content">
        <div class="modal-header">
          <div
            class="modal-title"
            style="padding: 1em 1em 0em 1em; width: 100%"
          >
            <h2 style="text-align: center">
              ¿Está seguro de que quiere borrar este administrador?
            </h2>
          </div>

          <div style="text-align: center">
            <div style="padding: 1em 1em 1em 1em; width: 100%">
              <button
                class="btn BtnDefault"
                style="background-color: #d8473e; color: aliceblue; width: 89px"
                type="reset"
                data-dismiss="modal"
                (click)="eliminarAdministrador(index)"
              >
                Borrar
              </button>
            </div>
            <div>
              <button
                class="btn BtnDefault"
                style="background-color: #f7ae42; color: aliceblue"
                type="reset"
                data-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL BORRAR-->
