<body>

  <!--NavBar del landing page-->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a
        style="font-size: 30px; font-family: 'Bebas Neue', cursive; color: gold"
        >SDI<img src="./../../../assets/cja.png" height="50" width="50"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContenido"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      ></button>
      <div class="collapse navbar-collapse" id="navbarContenido">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item px-3">
            <a class="nav-link" href="#carousel">Inicio</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#acerca">Acerca de Nosotros</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
          <li class="nav-item px-3">
            <a
              class="nav-link"
              href="http://localhost:4200/login"
              style="color: gold"
              >Portal de empleados</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Fin del navBar-->

  <!--Carusel con fotos-->

  <section id="carousel" style="background-color: black">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
            width="1200x"
            height="800px"
            alt="First slide"
          />
          <div class="carousel-caption">
            <h3
              class="d-block"
              style="font-size: 30px; font-family: 'Open Sans', sans-serif"
            >
              Olvidate del Papeleo!
            </h3>
            <p
              class="lead d-none d-sm-block"
              style="font-size: 20px; font-family: 'Open Sans', sans-serif"
            >
              Solo necesitas de tu computador para administrar el inventario de
              tus productos
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="https://www.esan.edu.pe/apuntes-empresariales/2016/06/24/inventariocalidad_facebook.jpg"
            alt="Second slide"
          />
          <div class="carousel-caption">
            <h3
              class="d-block"
              style="font-size: 30px; font-family: 'Open Sans', sans-serif"
            >
              Inventario digital
            </h3>
            <p
              class="lead d-none d-sm-block"
              style="font-size: 20px; font-family: 'Open Sans', sans-serif"
            >
              Es rapido, sencillo, moderno y seguro
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1002&q=80"
            width="1200x"
            height="800px"
            alt="Third slide"
          />
          <div class="carousel-caption">
            <h3
              class="d-block"
              style="font-size: 30px; font-family: 'Open Sans', sans-serif"
            >
              Mayor administración para tu empresa
            </h3>
            <p
              class="lead d-none d-sm-block"
              style="font-size: 20px; font-family: 'Open Sans', sans-serif"
            >
              El sistema es óptimo y adaptable a tus necesidades, excelente para
              la gestión de empleados y clientes
            </p>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

  <!--Fin del carusel-->

  <!-- Seccion de Servicios-->
  <section style="background-color: black" id="servicios">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2
            class="text-light;"
            style="
              font-family: 'Cherry Swash', cursive;
              font-size: 40px;
              color: white;
            "
          >
            Nuestros Servicios
          </h2>
          <p class="lead text-muted">
            Contamos con diseños web responsivos y modernos para tu empresa.
          </p>
          <div class="service-item mt-6">
            <img
              src="./../../../assets/Screenshot (116).png"
              class="img-fluid"
            />
            <div class="portfolio-details bg-light p-4">
              <h4 class="text-dark" style="text-align: center">
                Plataforma para tus empleados
              </h4>
              <p class="text-muted mb-0" style="text-align: center">
                El diseño lo eliges tu!
              </p>
            </div>
          </div>
          <div class="portfolio-item mt-6 mb-6">
            <img
              src="./../../../assets/web_development_.svg"
              class="img-fluid"
            />
            <div class="portfolio-details bg-light p-4">
              <h4 class="text-dark">
                Desarrollamos las plataformas de acuerdo al cargo del empleado
              </h4>
              <p class="text-muted mb-0">
                Es una excelente medida para la gestión y administración de
                empleados dentro de la empresa.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portfolio-item">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/123519806/original/21b422e6242d494f43b27499e7fc7bbf93adcbd2/fix-and-debug-html-css-javascript-reactjs-code.jpg"
              class="img-fluid"
            />
            <div class="portfolio-details bg-light p-4">
              <h4 class="text-dark">
                Trabajamos con las frameworks más modernas para las plataformas
              </h4>
              <p class="text-muted mb-0">
                Utilizamos Angular, Javascript, React, Bootstrap, Html y entre
                otras más.
              </p>
            </div>
          </div>
          <div class="portfolio-item mt-6">
            <img
              src="./../../../assets/Screenshot (168).png"
              class="img-fluid"
            />
            <div class="portfolio-details bg-light p-4">
              <h4 class="text-dark">
                Desarrollamos sistemas de inventario y ventas
              </h4>
              <p class="text-muted mb-0">
                implementación rápida, optimizada y segura para tu empresa.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-6">
        <p style="color: white">Y tenemos mucho más</p>
        <a style="color: gold"
          >Contáctanos y agenda tu cotización<i
            class="icon ion-md-arrow-forward ml-2"
          ></i
        ></a>
      </div>
    </div>
  </section>

  <!--Fin de la parte de Servicios-->

  <!--Acerca de Nosotros-->

  <section id="acerca">
    <div class="container">
      <h1
        class="text-dark"
        style="font-family: 'Cherry Swash', cursive; font-size: 45px"
      >
        Acerca de nosotros
      </h1>
      <p class="lead text-muted">
        Nuestro equipo se compone por personas comprometidas con su trabajo, las
        cuales prestan el mejor servicio para sus empresas afiliadas. SDI es un
        sistema de inventario que te permite mantener la administración de tus
        productos de manera digital, rápida y segura. El stock se actualiza en
        tiempo real!
      </p>

      <div class="row mt-6">
        <div class="col-md-4">
          <div
            class="blog-item position-relative rounded mb-5"
            style="text-align: center"
          >
            <img
              src="https://www.flaticon.es/svg/static/icons/svg/2922/2922561.svg"
              height="200px"
              width="200px"
              class="img-fluid rounded"
            />
            <br />
            <h3
              style="
                font-family: 'Open Sans', sans-serif 700;
                color: black;
                font: bold;
                margin-top: 0.5cm;
              "
            >
              Melanie Castillo
            </h3>
            <h4 style="font-family: 'Open Sans', sans-serif 700; color: gray">
              Programadora full-stack
            </h4>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="blog-item position-relative mb-5"
            style="text-align: center"
          >
            <img
              src="https://www.flaticon.es/svg/static/icons/svg/2922/2922688.svg"
              height="200px"
              width="200px"
              class="img-fluid rounded"
            />
            <br />
            <h3
              style="
                font-family: 'Open Sans', sans-serif 700;
                color: black;
                font: bold;
                margin-top: 0.5cm;
              "
            >
              Pedro Gutiérrez
            </h3>
            <h4 style="font-family: 'Open Sans', sans-serif 700; color: gray">
              Programador full-stack
            </h4>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="blog-item position-relative rounded"
            style="text-align: center"
          >
            <img
              src="https://www.flaticon.es/svg/static/icons/svg/2922/2922661.svg"
              height="200px"
              width="200px"
              class="img-fluid rounded"
            />
            <br />
            <h3
              style="
                font-family: 'Open Sans', sans-serif 700;
                color: black;
                font: bold;
                margin-top: 0.5cm;
              "
            >
              Wilneis León
            </h3>
            <h4 style="font-family: 'Open Sans', sans-serif 700; color: gray">
              Programadora full-stack
            </h4>
          </div>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-md-4">
          <div
            class="blog-item position-relative rounded mb-5"
            style="text-align: center"
          >
            <img
              src="https://www.flaticon.es/svg/static/icons/svg/2922/2922575.svg"
              height="200px"
              width="200px"
              class="img-fluid rounded"
            />
            <br />
            <h3
              style="
                font-family: 'Open Sans', sans-serif 700;
                color: black;
                font: bold;
                margin-top: 0.5cm;
              "
            >
              Francisca Acuña
            </h3>
            <h4 style="font-family: 'Open Sans', sans-serif 700; color: gray">
              Programadora full-stack
            </h4>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="blog-item position-relative mb-5"
            style="text-align: center"
          >
            <img
              src="https://www.flaticon.es/svg/static/icons/svg/2922/2922671.svg"
              height="200px"
              width="200px"
              class="img-fluid rounded"
            />
            <br />
            <h3
              style="
                font-family: 'Open Sans', sans-serif 700;
                color: black;
                font: bold;
                margin-top: 0.5cm;
              "
            >
              Angye Bernuy
            </h3>
            <h4 style="font-family: 'Open Sans', sans-serif 700; color: gray">
              Programadora full-stack
            </h4>
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="blog-item position-relative rounded"
            style="text-align: center"
          >
            <img
              src="https://www.flaticon.es/svg/static/icons/svg/2922/2922709.svg"
              height="200px"
              width="200px"
              class="img-fluid rounded"
            />
            <br />
            <h3
              style="
                font-family: 'Open Sans', sans-serif 700;
                color: black;
                font: bold;
                margin-top: 0.5cm;
              "
            >
              Cristóbal Acuña
            </h3>
            <h4 style="font-family: 'Open Sans', sans-serif 700; color: gray">
              Programador full-stack
            </h4>
          </div>
        </div>
      </div>
      <div class="text-center mt-6">
        <p class="text-gold mb-0">Tenemos muchas más ideas!</p>
        <a class="text-muted"
          >Contáctanos<i class="icon ion-md-arrow-forward ml-2"></i
        ></a>
      </div>
    </div>
  </section>

  <!--Fin de la parte acerca de nostros-->

  <!--Seccion de Contacto-->
  <section id="contacto" style="background-color: rgb(236, 231, 165) ;">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1
            class="text-dark"
            style="font-family: 'Cherry Swash', cursive; font-size: 45px"
          >
            Contacto
          </h1>
          <h3>
            <li type="disc">
              Dirección: Santiago de Chile, Ñuñoa Irarrázaval 3665​
            </li>
          </h3>
          <h3><li type="disc">Teléfono : (59 9) 5799 9343​​</li></h3>
          <h3><li type="disc">Correo: sdi.system.group2020@gmail.com</li></h3>
        </div>
        <div class="col">
          <img
            src="./../../../assets/calling.svg"
            style="margin-left: 4cm"
            width="300px"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!--Footer de la pagina-->

  <footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline mb-0">
            <li class="list-inline-item lead mx-2">
              <a href="#"
                ><img src="./../../../assets/facebook.svg" class="img-fluid"
              /></a>
            </li>
            <li class="list-inline-item lead mx-2">
              <a href="#"
                ><img src="./../../../assets/instagram.svg" class="img-fluid"
              /></a>
            </li>
            <li class="list-inline-item lead mx-2">
              <a href="#"
                ><img src="./../../../assets/youtube.svg" class="img-fluid"
              /></a>
            </li>
            <li class="list-inline-item lead mx-2">
              <a href="https://github.com/cacunae/ProyectoFinal"
                ><img
                  src="./../../../assets/iconmonstr-github-1.svg"
                  class="img-fluid"
              /></a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 text-sm-right">
          <small class="copy">© SDI group 2020</small>
        </div>
      </div>
    </div>
  </footer>
</body>
