<!-- navbar -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="inicio">
        <img src="https://cdn1.iconfinder.com/data/icons/e-commerce-retro-pack-vol-1/115/inventory_management-256.png"
            width="40" height="40" class="d-inline-block align-mid" alt="" loading="lazy" />
        /
        <img src="https://image.flaticon.com/icons/svg/1414/1414024.svg" width="40" height="40"
            class="d-inline-block align-mid" alt="" loading="lazy" />
        Vendedor
    </a>
    <div>
        <div class="text-left">
            <a href="login-usuario">
                <button class="btn btn-outline-warning" style="margin-left: 1em">
                    Cerrar Sesión
                </button>
            </a>
        </div>
    </div>
</nav>