<app-navbar-vendedor></app-navbar-vendedor>

<!--Etiqueta de Productos-->
<div class="row" style="background-color: rgb(190, 205, 238);">
  <div class="col">
  <h1>Stock de Productos
    <img src="https://www.flaticon.es/svg/static/icons/svg/644/644458.svg" height="30px" alt="">
    <img src="https://www.flaticon.es/svg/static/icons/svg/644/644422.svg" height="30px" alt="">
  </h1>
  </div>
</div>

<!--Barra de busqueda-->
<br />
<div>
  <div class="row">
    <div id="busqueda">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <select class="form-control" [(ngModel)]="filtro">
            <option value="nombre">Nombre</option>
            <option value="marca">Marca</option>
          </select>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Text input with dropdown button"
          placeholder="Busqueda"
          [(ngModel)]="busqueda"
          (keyup)="onKey($event)"
        />
        <span class="input-group-text" style="border: 0ch; margin: 0%">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-search"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
            />
            <path
              fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
            />
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>

<div
  style="width: 70%; margin: 1em auto; text-align: center"
  class="mat-elevation-z12"
>
  <mat-table [dataSource]="stockDataSource">
    <ng-container matColumnDef="status">
      <mat-header-cell style="width: fit-content" *matHeaderCellDef>
        Estado
      </mat-header-cell>
      <mat-cell
        style="width: fit-content"
        *matCellDef="let productos; index as i"
      >
        <div *ngIf="productos.stock> productos.minimo; else elseBlock">
          <span 
          style="color: #1c9d43; cursor: pointer;" 
          class="material-icons"
          matTooltip="Stock disponible"
          matTooltipPosition="left">
            check_circle
          </span>
        </div>
        <ng-template #elseBlock>
          <span 
          style="color: #d8473e; cursor: pointer;" 
          class="material-icons"
          matTooltip="Bajo stock"
          matTooltipPosition="left">
           error </span>
        </ng-template>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let productos"> {{ productos.id }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.nombre }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="marca">
      <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.marca }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.precio | currency: "CLP":"symbol-narrow" }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="stock">
      <mat-header-cell *matHeaderCellDef>Stock</mat-header-cell>
      <mat-cell *matCellDef="let productos">
        {{ productos.stock }}
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnasAMostrar"></mat-row>
  </mat-table>
</div>
