<div class="main">
  <br />
  <div class="body">
    <h1 class="titulo">SDI Group</h1>
    <br />
    <p
      style="
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 25px;
        position: relative;
      "
    >
      <mat-icon>work_outline</mat-icon> Bienvenido al portal de empleados
    </p>
    <br />
    <div class="bordes" style="width: 35%; margin: 2em auto">
      <form
        class="mat-elevation-z4; bordes"
        style="padding: 1em; background-color: white"
      >
        <div class="container">
          <div class="row">
            <h2
              class="col"
              style="font-size: 25px; color: gray; margin-top: 0.5cm"
            >
              Iniciar sesión
            </h2>
            <mat-slide-toggle
              name="toogle"
              class="col"
              color="primary"
              style="margin-top: 0.5cm; margin-left: 4cm"
              (change)="onChange()"
            >
              {{ tag }}
            </mat-slide-toggle>
          </div>
        </div>

        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input
            matInput
            required
            placeholder="Tu usuario"
            ng-required
            [(ngModel)]="empleado.usuario"
            name="usuario"
          />
        </mat-form-field>
        <br />
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'" 
            required
            placeholder="Tu Contraseña nueva"
            name="contraseña"
            ng-required
            [(ngModel)]="empleado.contrasenha"
          />
        <mat-icon matSuffix style="cursor:pointer;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <br />
        <button
          type="submit"
          class="btn btn-info btn-lg btn-block"
          (click)="validarLogin()"
          ng-disabled="!myForm.$valid"
        >
          Ingresar
        </button>
        <br />
        <a
          style="margin-right: 8cm"
          data-toggle="modal"
          href="#RECUPERAR"
          style="font-size: 16px; color: rgb(64, 175, 175)"
          >¿Olvidaste tu contraseña?</a
        >
        <br />
        <br />
      </form>
    </div>
  </div>
  <br />
</div>

<div class="text-right mt-4">
  <div class="modal fade" id="RECUPERAR">
    <div class="modal-dialog text-center">
      <div class="modal-content">
        <div
          class="modal-header"
          style="display: flex; flex-wrap: wrap; justify-content: center"
        >
          <div class="modal-title" style="width: 100%">
            <h2 style="text-align: center">
              Si su correo existe, recibirá un mensaje con instrucciones.
            </h2>
          </div>

          <div style="text-align: center">
            <div>
              <form class="example-form">
                <mat-form-field style="width: 260px" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Ej. cris@correo.com" />
                  <mat-error
                    *ngIf="
                      emailFormControl.hasError('email') &&
                      !emailFormControl.hasError('required')
                    "
                  >
                    Por favor, ingrese un correo válido
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Correo electrónico <strong>requerido</strong>
                  </mat-error>
                </mat-form-field>
              </form>
            </div>
            <div>
              <button
                class="btn BtnDefault"
                style="background-color: #1c9d43; color: aliceblue"
                data-dismiss="modal"
              >
                Recuperar Contraseña
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
